header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    align-items: left;
    gap: 2rem;
    background-image: linear-gradient(#aa5baa67, #23215275), url(assets/morango.png);
    background-size: 401%;
    background-repeat: none;
    animation: moveRight 60s linear infinite;
    background-position: 0 0;
}

@keyframes moveRight {
    0% {background-position: 0 0;}
    16.6666666667% {background-position: -1205px 0;}
    33.3333333334% {background-position: -2410px 0;}
    50.0000000001% {background-position: -3615px 0;}
    66.6666666668% {background-position: -2410px 0;}
    83.3333333335% {background-position: -1205px 0;}
    100% {background-position: 0 0;}
}

header h4{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

header h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 900;
    line-height: 4.2rem;
    background: linear-gradient(45deg, var(--secondary-color), var(--tertiary-color));
    background-clip: text;
    color: transparent;
    background-size: 75vw, 70vh;
}

header p{
    margin-bottom: 2rem;
    color: var(--primary-color);
    font-size: medium;
    font-weight: 600;
}